.App {
  text-align: center;
}

.App-logo {
  margin: 0 auto;
  height: 150px;
  display: block;
}

.tituloProdi {
  width: 100%;
  text-align: center;
  font-family: 'Alata', sans-serif;
}

.home {
  color: red;
}

.TablaCont {
  width: 60%;
  height: 65vh;
  padding: 10px;
  text-align: center;
  overflow: scroll;
  border-right: 2px solid #ABB2B9;
}

.TablaContInven {
  width: 95%;
  height: 65vh;
  padding: 10px;
  text-align: center;
  overflow: scroll;
  margin: 0 auto;
}

.tablaProductos {
  border-radius: 10px;
}

.contenidoTotal {
  width: 100%;
  height: 68vh;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.OpcionesDeProductos {
  width: 35%;
  border-radius: 10px;
  height: 65vh;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.tituloProductoAmin {
  font-size: 25px;
  font-family: 'Alata', sans-serif;
}

.navBar {
  width: 100%;
  background-color: #0D0D0D;
  height: 90px;
  display: flex;
  font-family: 'Alata', sans-serif;
  align-items: center;
}

.HomeContainer {
  width: 95%;
  margin: 0 auto;
  background-color: #F2F2F2;
}

.LogoEmpresa {
  width: 20%;
  height: 75%;
  background-image: url(./asserts/images/LogParaNav.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.Separador {
  width: 10%;
  height: 100%;

}

.separaciones {
  padding: 15px;
  padding-bottom: 15px;
  height: 50px;
  margin-top: 25px;
  margin-left: 5px;
}

.PartesPagina {
  width: 65%;
  text-align: right;
  margin-right: 10px;
  align-items: center;
  flex-direction: row-reverse;
}

.Titulologingmail {
  width: 95%;
  text-align: center;
  color: white;
  font-size: larger;

}

.colores {
  display: none;
  color: red;
}


.Titulologinpas {
  width: 95%;
  text-align: center;
  color: white;
  font-size: larger;
}

.Titulos {
  text-align: center;
  color: black;
  font-size: 1.2cm;
  font-family: 'Alata', sans-serif;
}

.SubTitulos {
  width: 95%;
  text-align: center;
  color: #7f8682;
  font-size: 1cm;
  font-family: 'Times New Roman', Times, serif;
}

.BotonLogin {
  text-align: center;
}

.Botoninv {
  text-align: center;
  padding-bottom: 15px;
}

.Botoninv button {
  margin: 10px;
}


.buttonOpcion {
  text-align: center;
  align-items: center;
  border: none;
  border-color: none;
  font-size: 20px;
  padding: 15px;
  padding-bottom: 15px;
  height: 50px;
  margin-top: 25px;
  margin-left: 5px;
  border-radius: 10px;
  color: white;
  background-color: #0D0D0D;
  transition: all 1.5s;
  position: relative;
}

.buttonOpcion2 {
  text-align: center;
  align-items: center;
  border: none;
  border-color: none;
  font-size: 20px;
  height: 50px;
  color: #0D0D0D;
  background-color: #0D0D0D;
  transition: all 1.5s;
  margin: 10px;
}

.debajo {
  background: rgb(13, 13, 13);
  background: linear-gradient(0deg, rgba(13, 13, 13, 1) 90%, rgba(241, 196, 15, 1) 90%);
  width: 190%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.buttonOpcion:hover {
  margin-top: 19px;
  font-size: 25px;
  opacity: .9;
  transition: all 1.3s;
  text-decoration: underline;
}

.buttonOpcion2:hover {
  opacity: .7;
  transition: all 1.3s;
  background: rgb(241, 196, 15);
  background: linear-gradient(0deg, rgba(241, 196, 15, 1) 11%, rgba(13, 13, 13, 1) 11%);
}

.NavTemporal {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #0D0D0D;
}

.containerPanelPrincipal {
  width: 100%;

}

.formularioXD {
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

}

.container {
  background: rgb(87, 78, 79);
  margin: 0 auto;
  border: 1px solid red;
  font-family: cursive;
  width: 40%;
}

.pricipal {
  width: 100%;
  margin: 0 auto;
  padding-top: 5%;
  height: 100vh;
  background-color: #F2F2F2;
}

.form_login {
  width: 65%;
  margin: 0 auto;
  background-color: #393d44;
  text-align: center;
  align-items: center;
  padding: 30px;
}

.parteSuperior {
  margin: 10px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nuevafilaButton {
  margin: 0 auto;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 19px;
  background-color: #2980B9;
  color: white;
  transition: all .5s;
  margin-bottom: 15px;
}

.nuevafilaButton:hover {
  opacity: .9;
  background-color: #196192;

  transition: all .5s;
}

.accionAtomar {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.accionAtomar p {
  align-items: center;
}

.accionAtomar button {
  margin: 0 auto;
  border: none;
  background-color: none;
  border-radius: 4px;
  width: 35px;
  height: 35px;
}

.material-symbols-outlined {
  align-items: center;
}

#cancelarButton {
  color: white;
  font-weight: bolder;
  background-color: #EC7063;

}

#cancelarButton:hover {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ingresanuevosprod {
  font-size: 21px;
  padding: 5px;
}

.bodymodla {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}

.TituloEliminar {
  background-color: #EC7063;
  text-align: center;
  color: white;
  font-weight: bolder;
}

.tablaAgregarProductos {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: flex-end;
}

#TBALADIRECTA {
  width: 80%;
  max-height: 350px;
  overflow: scroll;
}

.TituloProductosNuevos {
  background-color: #2980B9;
  text-align: center;
  color: white;
  font-weight: bolder;
}

.inputEditar {
  width: 100%;
  word-wrap: break-word;
  height: 50px;
  text-align: center;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;


}

.TituloEditar {
  background-color: #7DCEA0;
  text-align: center;
  color: white;
  font-weight: bolder;
}

.ButtonesAgregarProducto {
  width: 95%;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.ButtonesAgregarProducto button {
  border: none;
  background-color: none;
  border-radius: 4px;
  padding: 10px;
  transition: all 1s;
}

.ButtonesAgregarProducto button:hover {
  font-size: 17px;
  transition: all 1s;
}

#NuevoProducto {
  background-color: #2980B9;
  color: white;
}


#DesdeSheet {
  background-color: #27AE60;
  color: white;
}

#editarButton {
  background-color: #7DCEA0;

}

#editarButton2 {
  background-color: #2980B9;
  Fill: 0;
  color: #c4ccc8;
}

#editarButton:hover {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.centrarfila {
  align-items: center;
}


.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-bottom: 2px solid rgba(76, 73, 73, 0.4);
  ;
  border-radius: 8px;
  outline: none;
  background-color: #f1f1fb;
  color: #0D0D0D;
  transition: .3s ease;
  margin: 0 auto;
}

.input::placeholder {
  color: #050505;
}

.input:focus,
input:hover {
  outline: none;
  background-color: #fff;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #000000;
  width: 1rem;
  height: 1rem;
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}

.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.InventarioTop {
  align-items: center;
  text-align: center;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  justify-content: right;
}

.tituloInve {
  text-align: center;
  width: 65%;
}

.serch {
  padding-top: 5px;
  width: 30%;
}

.panel-sm {
  background-color: darkslateblue;
  color: salmon;
  border-color: #61dafb;
  border-width: 50px;
  height: 30vh;
  border-top: 2px solid withe;
  border-bottom: 2px solid withe;
}

.panel {
  background-color: darkslateblue;
  color: salmon;
  border: #000000;
  height: 30vh;
}

.panel-lg {
  background-color: darkslateblue;
  color: whitesmoke;
  border: #000000;
  height: 70vh;
}


#mi-col {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: auto;
  /* altura de la columna */
}

#mi-col .child {
  height: 32%;
  /* altura de cada elemento hijo */
  color: salmon;
}

.contenedorPedidos {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.tituloPedidos {
  font-size: 35px;
  opacity: .9;
  width: 50%;
  margin: 0px;
}

.top {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5%;
}

.botonPedidos {
  border: none;
  background-color: #196192;
  color: white;
  font-size: 20px;
  padding: 5px;
  width: 15%;
  border-radius: 4px;
}

#buscarPedido {
  width: 30%;
}

.numpedi {
  text-align: center;
  align-items: center;
}

.bodyTable {
  opacity: .9;
  background-color: white;
  text-align: center;
  align-items: center;
}

#topOfDataPedido {
  text-align: left;
  justify-content: space-between;
  background-color: white;
}
.centerXd {
  text-align: center; 
}
#subHeader{
  background-color: #808B96;
  color: white;
}

