.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.home {
  color: red;
}

.navBar {
  width: 100vw;
  background-color: #282c34;
  height: 100px;
  display: flex;
}

.LogoEmpresa {
  width: 25%;
  height: 98%;
  border: 1px solid black;
}

.Separador {
  width: 10%;
  height: 100%;

}

.PartesPagina {
  width: 65%;
  text-align: right;
  margin-right: 10px;
  align-items: center;
  flex-direction: row-reverse;
}

.Titulologingmail {
  width: 95%;
  text-align: center;
  color: white;
  font-size:larger;

}

.Titulologinpas {
  width: 95%;
  text-align: center;
  color: white;
  font-size:larger;
}

.colores{
  color: red;
}

.BotonLogin {
  text-align: center;
}

.buttonOpcion {
  text-align: center;
  align-items: center;
  border: none;
  border-color: none;
  font-size: 20px;
  padding: 15px;
  padding-bottom: 15px;
  height: 50px;
  margin-top: 25px;
  margin-left: 5px;
  border-radius: 10px;
  color: white;
  background-color: #282c34;
  transition: all 1.5s;
  position: relative;
}

.debajo {
  background-color: #F1C40F;
  width: 190%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.buttonOpcion:hover {
  margin-top: 19px;
  font-size: 25px;
  opacity: .9;
  transition: all 1.3s;

}

.formularioXD {
  width: 30%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  background: rgba( 0, 0, 0, 0.8 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.container {
  background: rgb(87, 78, 79);
  margin: 0 auto;
  border: 1px solid red;
  font-family: cursive;
  width: 40%;
}

.pricipal {
  width: 100%;
  margin: 0 auto;
  padding-top: 5%;
}

.form_login {
  width: 65%;
  margin: 0 auto;
  background-color: #393d44;
  text-align: center;
  align-items: center;
  padding: 30px;
}

.parteSuperior {
  margin: 10px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}